.app {
  background-color:#f6f5f7 ;
  display: flex;
  flex-direction: column;
  align-items:center;
  height: 100vh;
}
.content-container {
  width: 100%;
 display: flex;
 justify-content: center;
 height: 35%;
 max-height: 800px ;
 min-height: 350px;

}